


  <h3> There are <%= @count %> contacts</h3>

  <% @contacts.each do |contact| %>
  <ul>
  <li><%="#{contact.full_name} (#{contact.email})" %> </li>
  <a href="#">Edit</a> <a href="#">Delete</a>
  <br>
</ul>
  <% end %>
</div>
