<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRM HOME</title>
  </head>


  <body>
    <h1>Hello to my CRM</h1>
    <ul>
      <a href="http://localhost:4567/home">HOME</a>
    </ul>
    <ul>
      <a href="http://localhost:4567/contacts">CONTACTS</a>
    </ul>
    <ul>
      <a href="http://localhost:4567/about">ABOUT</a>
  </nav>
</html>
<body>

<nav>
