<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>CRM</title>
  </head>
  <body>

    <h1>Quick CRM</h1>
      <nav>
        <ul>
          <a href="http://localhost:4567/home">HOME</a>
        </ul>
        <ul>
          <a href="http://localhost:4567/contacts">ADD A CONTACT</a>
        </ul>
        <ul>
          <a href="http://localhost:4567/about">ABOUT US</a>
      </nav>

      <main>
  <%= yield %>
      </main>

  <footer>Bibek 2018</footer>
  </body>
</html>
