<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <meta charset="utf-8">
    <title>CRM</title>
  </head>
  <body>

  <header><img src="/logo.jpg" alt="logo"></header>
      <nav>
        <ul>
          <a href="http://localhost:4567/home"> <img src="/house.png" alt="home"</a>
        </ul>
        <ul>
          <a href="http://localhost:4567/contacts"><img src="/agenda.png" alt="contacts"</a>
        </ul>
        <ul>
          <a href="http://localhost:4567/about"><img src="/info.png" alt="about"></a>
      </nav>




      <main>
  <%= yield %>
      </main>

  <footer>bibekslab Copyright 2018</footer>
  </body>
</html>
