<h3>Create new Contact</h3>

<form class="" action="/contacts" method="post">

  <p><label for="first_name"> First name</label></p>
  <input id="first_name" type="text" name="first_name" value="">

  <p><label for="last_name"> Last name</label></p>
  <input id="last_name" type="text" name="last_name" value="">

  <p><label for="email"> Email</label></p>
  <input id="email" type="text" name="email" value="">

  <p><label for="note"> Notes</label></p>
  <textarea id="note" type="text" name="note" value=""></textarea>

  <p><input type="submit" value="New Contact"></p>

</form>
