
<div class='contact_actions'>

<img src="/man.png" alt="photo_placeholder">
<li><img src="/telephone.png" alt="phone"><img src="/mail.png" alt="Email"><img src="/change.png" alt="edit"><img src="/trash.png" alt="delete"></li>

</div>

<div class="contact_details">

<p><%="First name: #{@contact.first_name}" %></p>
<p><%="Last name: #{@contact.last_name}" %></p>
<p><%="Email: #{@contact.email}" %></p>
<p><%="Notes: #{@contact.note}" %></p>

</div>
